@charset "utf-8";

* { margin: 0;  padding: 0; box-sizing: border-box;}

body {font-family: normal 16px/1.5em  'Pretendard', sans-serif;  background-color: #fff; color: #333;}

#header {display: flex; justify-content: space-between; align-items: center; padding: 15px; font-weight: 600; height: 65px;}
.top_left {font-size: 20px;}
#header i { margin-left: 15px; font-size: 20px; color: #000;}


.quick_menu {padding: 10px 0; border-bottom: 1px solid #eee; display: flex; cursor: pointer;}

.quick_icon { flex: 1; text-align: center; padding: 8px 0; font-size: 11px;}
.quick_icon i {font-size: 20px; margin-bottom: 6px;}
.quick_icon span { font-size: 13px; display: block;}
.quick_icon.brand i { color: #1F6BFF;}
.quick_icon.new i  { color: #9444CB;}
.quick_icon.gift i  { color: #FD86B8;}
.quick_icon.search i{ color: #40BB29;}
.quick_icon.best i  { color: #FFC945;}
.quick_icon.pick i { color: #FE48DD;}

/* 이부분 다시한번 보기 height */
.category_container { display: flex; height: calc(100vh - 60px - 110px);  cursor: pointer;}
.category_main { width: 40%; height: 780px; background-color: #f7f7f7; list-style: none; margin: 0; padding: 0;  position: sticky; top: 0; max-height: 100vh; overflow-y: auto; -ms-overflow-style: none; scrollbar-width: none;}
.category_main::-webkit-scrollbar { width: 0; height: 0;}
.category_main li { padding: 15px; border-bottom: 1px solid #ddd; font-size: 17px;}
.category_main li.active { background-color: #fff; font-weight: bold;}

.category_sub {width: 60%; list-style: none; padding: 15px; overflow-y: auto; height: 100%; -ms-overflow-style: none; scrollbar-width: none;  cursor: pointer;}
.category_sub::-webkit-scrollbar {display: none;}
.category_sub li { padding: 10px 0; font-size: 13px; color: #555; list-style: none;}
.category_sub li a { padding: 10px 0; font-size: 16px; color: #555; text-decoration: underline;}
.category_sub li i {float: right; font-size: 15px;}

.bottom_nav {position: fixed; bottom: 0; width: 100%; display: flex; border-top: 1px solid #ddd; background-color: #fff; cursor: pointer; padding: 0;}

.bottom_nav a { flex: 1; text-align: center; padding: 8px 0; font-size: 11px; text-decoration: none;  color: inherit; display: flex; flex-direction: column; align-items: center; justify-content: center;}

.nav_icon i { font-size: 18px; margin-bottom: 4px; color: #333;}
.nav_icon span { font-size: 11px; display: block; color: #222;}
.nav_icon.active i {color: #9344cb;}







