@charset "utf-8";

body {background: #fff; width: 100%; min-width: 395px; margin: 0 auto;}

.header_wrap {height: 56px; display: flex; align-items: center; justify-content: space-between; padding: 0 16px; box-sizing: border-box; background-color: #fff; font-weight: 600;}
.header_title {font-size: 20px; line-height: 1;}
.header_logo img {height: 30px; display: block;}
.header_icons {display: flex; align-items: center;}
.header_icons i {font-size: 20px; margin-left: 16px; line-height: 1; color: #000;}

.welcome {padding: 5px 16px 0; height: 20px;}
.welcome_left {display: flex; align-items: center; gap: 15px;}
.welcome_text {color: #57047D; font-size: 17px; display: flex; align-items: center; }
.username {margin-left: 4px; margin-right: 0; max-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; font-weight: 500;}
.address {display: flex; align-items: center; font-size: 12px; color: #000; padding: 4px 8px; border-radius: 12px; background: #f5f5f5;}
.address i {margin-right: 4px;}

.order_status {background: #f4f4f4; padding: 20px 18px; border-radius: 8px; margin: 16px;}
.order_status h3 {margin-bottom: 16px; font-weight: 600; font-size: 16px; letter-spacing: -0.2px;}
.status_list, .icon_menu {display: flex; justify-content: space-between; text-align: center;}
.status_list {padding-bottom: 16px; border-bottom: 1px solid #ddd;}
.status_list li, .icon_menu li {list-style: none; flex: 1; cursor: pointer;}
.status_list li a, .icon_menu li a {text-decoration: none;}
.status_list strong {font-size: 24px; display: block; font-weight: 500; line-height: 1.2;}
.status_list span {font-size: 14px; display: block; color: #666; margin-top: 4px;}
.icon_menu {margin-top: 16px;}
.icon_menu i {font-size: 20px; color: #444; display: block; margin-bottom: 6px;}
.icon_menu li span {font-size: 14px; color: #666; margin-top: 4px;}

.point_box {border: 1px solid #ddd; border-radius: 8px; margin: 16px; padding: 12px; box-shadow: 0 1px 4px rgba(0,0,0,0.06); font-size: 15px;}
.point_box .row {display: flex; justify-content: space-between; padding: 5px;}

.review_box { padding: 0 20px; width: 100%; box-sizing: border-box; }
.review_box a {background: #F1E8FA; display: block; padding: 14px 0; border-radius: 12px; text-align: center; box-shadow: 0 1px 4px rgba(0,0,0,0.06); font-size: 17px;}

.menu_group {background: #e8e8e8; padding: 20px 15px 50px; margin: 15px; border-radius: 5px; font-size: 14px;}
.menu_block {margin-bottom: 45px;}
.menu_block h4 {color: #333; margin-bottom: 10px;}
.menu_block ul {display: grid; grid-template-columns: 1fr 1fr; gap: 8px 16px;}
.menu_block li {list-style: none;}
.menu_block a {text-decoration: none; color: #000;}
.menu_block a:hover {text-decoration: underline;}
.version {font-size: 12px; color: #777; margin-left: 6px;}

.logout {padding: 0; text-align: left;}
#logout_button {padding: 16px 0; text-align: left; font-weight: bold; background: none; border: none; cursor: pointer;}
#logout_button:focus {outline: none;}
#logout_button:hover {text-decoration: underline;}

.bottom_nav {position: fixed; bottom: 0; width: 100%; display: flex; border-top: 1px solid #ddd; background-color: #fff; cursor: pointer; padding: 0;}
.bottom_nav a { flex: 1; text-align: center; padding: 8px 0; font-size: 11px; text-decoration: none;  color: inherit; display: flex; flex-direction: column; align-items: center; justify-content: center;}

.nav_icon i { font-size: 18px; margin-bottom: 4px; color: #333;}
.nav_icon span { font-size: 11px; display: block; color: #222;}
.nav_icon.active i {color: #9344cb;}
